@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Thin.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Thin.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-ThinItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-ExtraLight.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-ExtraLightItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-ExtraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Light.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Light.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-LightItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Regular.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Regular.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Italic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Italic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 450;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Text.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Text.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 450;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-TextItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-TextItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Medium.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Medium.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-MediumItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-SemiBold.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-SemiBoldItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Bold.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-Bold.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-BoldItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Mono/fonts/complete/woff/IBMPlexMono-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Thin.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Thin.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-ThinItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-ExtraLight.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-ExtraLightItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-ExtraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Light.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Light.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-LightItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Regular.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Italic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Italic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 450;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Text.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Text.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 450;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-TextItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-TextItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Medium.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-MediumItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-SemiBold.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-SemiBoldItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Bold.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-BoldItalic.woff2") format("woff2"), url("~@ibm/plex/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-BoldItalic.woff") format("woff");
}
