/* General Styles */
body {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

.section {
    padding: 40px 20px;
}

.section h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.grid-container a {
    text-decoration: none;
    color: inherit;
}

.grid-container div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.grid-container div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.service-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #666;
}
